.containerInput {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  background: transparent;
  font-size: 16px;
}


.containerInput input {
  flex: 1;
  background: var(--gray-500);
  border: 0;
  color: var(--gray-100);
  padding: 0.75rem 1.5rem;
  height: 54px;
  border-radius: 8px;
  border: 0;
}

.containerInput input::placeholder {
  color: var(--gray-300)
}

.containerInput input:focus {
  border: 1px solid var(--purple-dark);
}
