.clipboard-content {
  margin-top: 2rem;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clipboard-content img {
  width: 56px;
  height: 56px;
  margin-bottom: 1rem;
}

.clipboard-content h1 {
  font-size: 1rem;
  color: var(--gray-300);
  font-weight: 700;
  line-height: 1.4;
}

.clipboard-content p {
  font-size: 1rem;
  color: var(--gray-300);
  font-weight: 400;
  line-height: 1.4;
}